<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body onload = "roomSelect('myRoom')">
<p>You have joined room: <%= roomId %></p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    const socket = io();

    function roomSelect(roomNumber){
        let roomNumString = String(roomNumber);
        socket.emit('join', roomNumString);
    }

</script>
</body>
</html>