<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body onload = "roomSelect('firstRoom')">
<p>ID padded</p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    const socket = io();

    function roomSelect(roomNumber){
        socket.emit('join', roomNumber);
    }

</script>
</body>
</html>