<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body onload = "roomSelect()">
<p id="room name" hidden><%= roomId %></p>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    const socket = io();

    function roomSelect(){
        var roomNumber = document.getElementById("room name");
        let roomNumString = String(roomNumber.textContent);
        socket.emit('join', roomNumString);

    }

    socket.on('join', (msg) => {
        let playerNumberTag = document.createElement("H1");
        let msgStringNode = document.createTextNode(String(msg));

        playerNumberTag.appendChild(msgStringNode);
    });

</script>
</body>
</html>